%p#notice= notice
%h1.top-bar グループを作成しました。
%table
  %thead
    %tr
      %th test-user
      %th User
      %th Integer
      %th{:colspan => "3"}
  %tbody
    - @tweets.each do |tweet|
      %tr
        %td= tweet.text
        %td= tweet.user_id
        %td= tweet.integer
        %td= link_to 'Show', tweet
        %td= link_to 'Edit', edit_tweet_path(tweet)
        %td= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Tweet', new_tweet_path
